body {
  background-color: rgb(71, 127, 201);
}

.container {
  background-color: rgb(71, 127, 201);
  margin: 100px;
}

.row {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  align-content: center;
}

.col-full {
  flex-basis: 100%;
  text-align: center;
}

.col-third {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
}

img {
  padding: 35px;
  width: 100%;
}

h3,
p,
h2 {
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.image {
  text-align: center;
  flex-basis: 25%;
  background-color: white;
  border-radius: 50%;
  margin-left: 50px;
  margin-right: 50px;
  height: 125px;
  width: 125px;
}

h2 {
  font-size: 2rem;
}
