.container {
  padding: 50px;
  background-color: rgb(247, 248, 250);
}

h1,
h3,
p {
  font-family: 'Barlow', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.col-full {
  flex-basis: 100%;
}

.col-fourth {
  flex-basis: 25%;
  text-align: center;
}

img {
  width: 100%;
  text-align: center;
}

.second-img > img {
  width: 90px;
}
