div.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 200px;
}

div.row {
  display: flex;
}

.column-one-half {
  flex-basis: 50%;
}

.column-one-third {
  flex-basis: 33%;
}

.column-one-fourth {
  flex-basis: 25%;
}

.column-two-thirds {
  flex-basis: 66%;
}

img {
  width: 100%;
}

h1 {
  white-space: nowrap;
}
