.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.display-block {
  display: block;
}

.padding-right {
  padding-right: 50px;
}

.padding-left {
  padding-left: 50px;
}

.text-align-center {
  text-align: center;
}

.padding-left-right {
  padding: 0 3px;
}

.chevron-size {
  font-size: 2.5rem;
}
