.container {
  margin: 50px;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  display: flex;
  flex-basis: 50%;
}

.header {
  text-align: center;
}

.button {
  text-align: center;
  flex-basis: 100%;
}

.text {
  display: flex;
  flex-direction: column;
}

h3 {
  margin-bottom: 0;
}

img {
  width: 100%;
}

.image {
  margin-top: 5px;
}

button {
  color: red;
  border-color: red;
  background-color: white;
  width: 150px;
  height: 30px;
  margin-top: 30px;
}

h1,
h3,
button {
  text-transform: uppercase;
}
