.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  display: flex;
  flex-basis: 50%;
}

.header {
  text-align: center;
}

.button {
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
}
