.container {
  padding: 100px;
}

.canvas-nav ul {
  list-style-type: none;
}

button a {
  color: white;
  text-decoration: none;
}

.canvas-nav li > a {
  color: rgb(197, 196, 196);
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  align-items: center;
}

button {
  display: inline;
  background-color: rgb(34, 34, 122);
  border-radius: 4px;
}

.nav {
  display: inline;
}

.nav button {
  width: 85px;
  height: 35px;
}

.col-half {
  flex-basis: 50%;
}

h1 {
  padding-left: 50px;
}

.canvas-nav {
  text-align: right;
  padding-right: 50px;
}

.body-container,
.container-footer {
  background-color: rgb(252, 251, 240);
}

.col-full {
  flex-basis: 100%;
}

.col-full h3,
.col-full p,
h4 {
  text-align: center;
}

.block-4-button {
  text-align: right;
}

.block-4-button button {
  width: 150px;
  height: 40px;
  margin-right: 50px;
}

.col-quarter {
  flex-basis: 25%;
}

.col-quarter ul {
  list-style-type: none;
  text-align: center;
  text-align: start;
}

.row-footer {
  display: flex;
}

.container-info {
  background-color: rgb(41, 46, 46);
  color: white;
}

.nav-footer {
  list-style-type: none;
  display: inline;
}

.hero-image {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.65)), url("images/hero.jpg");
  background-size: cover;
  height: 540px;
  margin-top: 50px;
}

.container-image {
  padding-left: 50px;
  padding-right: 50px;
}

.hero-text {
  padding-right: 50%;
  padding-left: 60px;
  padding-top: 8%;
  color: white;
}

.hero-text button {
  width: 160px;
  height: 40px;
  margin-top: 10px;
}

#header-row {
  border-bottom: 1px solid lightgray;
}

.block-4-text {
  padding-left: 50px;
}
